html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.key {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border: .4rem solid black;
  border-radius: .5rem;
  width: 5rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding: .7rem .5rem;
  text-align: center;
  transition: all .07s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none; 
}

kbd {
  font-size: 2rem;
}

.key p {
  color: #ffc600;
  font-size: 1rem;
  text-transform: uppercase;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}